.header {
  background-color: rgb(36, 36, 36);
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  &__logo {
    text-decoration: none;
    color: red;
    font-weight: bold;
  }

  &__profile {
    color: white;
    font-weight: bold;
  }
}
