.navbar {
  background-color: rgb(19, 19, 19);
  overflow: hidden;
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  &__link {
    color: white;
    font-weight: bold;
  }
}
