.header {
  background-color: rgb(30, 30, 30);
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  &__logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: red;
    font-weight: bold;

  }

  &__profile {
    padding: 0.5rem 1rem;
    background-color: rgb(50, 50, 50);
    color: white;
    font-weight: bold;
    text-decoration: none;
    
    &:hover {
      background-color: rgb(70, 70, 70);
    }
  }
}

