/*.box-container {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
*/
/*
.box-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
*/
.box-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.movieCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  background-color: rgb(53, 53, 53);
  height: auto;
}


.box-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (min-width: 768px) {
  .box-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .box-container{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}